<settings>
  <setting propertyKey="@Properties.AAPSKey" title="@Strings.AAPSKeyTitle">
    <settingConfig type="alphaNumeric" />
  </setting>
  <setting propertyKey="@Properties.Version" title="@Strings.VersionTitle">
    <settingConfig type="alphaNumeric" readonly="true" />
  </setting>
</settings>